In [ ]:
import pandas as pd

df = pd.read_csv('/content/task1.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [ ]:
X =df.iloc[:,:-1]
y = df['Scores']

In [ ]:
# splitting the data for train and test 
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=3)

In [ ]:
# Importing Linear Regression model from scikit learn
from sklearn.linear_model import LinearRegression

In [ ]:
# Fitting the model
regr = LinearRegression()

regr.fit(X_train, y_train)

LinearRegression()

In [ ]:
# Predicting the scores for the Test values
y_predict= regr.predict(X_test)

In [ ]:
# calculate the r2_score 
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_predict)
r2

0.9340752536504426

In [ ]:

regr.predict([[9.25]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([91.18169183])